<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Datos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">
    <div class="max-w-3xl mx-auto bg-white p-8 rounded-md shadow-md">
        <h1 class="text-2xl font-bold mb-4">Datos Guardados</h1>
        <table class="w-full border-collapse border border-gray-300">
            <thead>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Vehículo</th>
                    <th class="border border-gray-300 px-4 py-2">Año</th>
                    <th class="border border-gray-300 px-4 py-2">Marca</th>
                    <th class="border border-gray-300 px-4 py-2">Color</th>
                    <th class="border border-gray-300 px-4 py-2">Combustible</th>
                    <th class="border border-gray-300 px-4 py-2">Número de Puertas</th>
                    <th class="border border-gray-300 px-4 py-2">Tracción</th>
                </tr>
            </thead>
            <tbody>
                {% for row in datos %}
                <tr>
                    {% for item in row %}
                    <td class="border border-gray-300 px-4 py-2">{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
